<div class="feedback feedback--primary card">
    <div class="media media--primary feedback__author">
      <div class="media__image">
        <img src="images/image-colton.jpg" alt="buyer image">
      </div>
      <div class="media__text">
        <h2 class="media__title">Colton Smith</h2>
        <p class="media__subtitle">Verified Buyer</p>
      </div>
    </div>
    <div class="feedback__text quote">
      We needed the same printed design as the one we had ordered a week prior.
  Not only did they find the original order, but we also received it in time.
  Excellent!
    </div>
  </div>