<div class="mobile">
  <!-- notch markup -->
  <span class="mobile__notch"></span>

  <!-- chat body -->
  <div class="chat">
    <div class="chat__header">
      <span><i class="bi bi-arrow-left-short"></i></span>
      <div class="media media--primary">
        <div class="media__image">
          <img src="images/avatar.jpg" alt="Chat user" />
        </div>
        <div class="media__body">
          <h4 class="media__title">Samuel Green</h4>
          <p class="media__text">Available to Walk</p>
        </div>
      </div>
      <span><i class="bi bi-three-dots-vertical"></i></span>
    </div>

    <div class="chat__body">
      <div class="chatText chatText--primary chat__left">
        That sounds great. I’d be happy with that.
      </div>
      <div class="chatText chatText--primary chat__left chatText--end">
        Could you send over some pictures of your dog, please?
      </div>

      <!-- user change -->
      <div class="chatImage chat__right">
        <img src="images/dog-image-1.jpg" alt="" />
        <img src="images/dog-image-2.jpg" alt="" />
        <img src="images/dog-image-3.jpg" alt="" />
      </div>

      <div class="chatText chatText--secondary chat__right">
        Here are a few pictures. She’s a happy girl!
      </div>
      <div class="chatText chatText--secondary chat__right chatText--end">
        Can you make it?
      </div>

      <!-- user change -->
      <div class="chatText chatText--primary chat__left">
        She looks so happy! The time we discussed works. How long shall I take
        her out for?
      </div>

      <div class="chatPrice chat__left">
        <span class="chatPrice__radio"></span>
        <span class="chatPrice__text">30 minute walk</span>
        <span class="chatPrice__value">$29</span>
      </div>
      <div class="chatPrice chat__left chatText--end">
        <span class="chatPrice__radio"></span>
        <span class="chatPrice__text">1 hour walk</span>
        <span class="chatPrice__value">$49</span>
      </div>

      <!-- input box -->
      <div class="form-group">
        <input type="text" placeholder="Type a message..." />
        <span class="icon-container">
          <i class="icon bi bi-caret-right-fill"></i>
        </span>
      </div>
    </div>
  </div>
</div>
