//colors
$color-primary: hsl(223, 87%, 63%);
$color-secondary: hsl(223, 100%, 88%);
$color-accent: hsl(354, 100%, 66%);
$color-asset_one: hsl(209, 33%, 12%);
$color-asset_two: hsl(0, 0%, 59%);
$color-whitey: hsl(0, 0%, 100%);
