@use 'variables' as *;
@use 'mixNfun' as *;

:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 2rem;
    background: var(--color-whitey);
    color: $color-asset_one;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    @include media {
        font-size: 4.8rem;
    }
}

img {
    display: block;
    max-width: 100%;
}

input {
    border: 0;
    outline: 0;
    min-width: 0;
    display: inline-block;
}

.header {
    display: flex;
    justify-content: center;

    &__logo {
        margin-top: 10rem;
        > img {
            width: 6rem;
            @include media {
                width: 9rem;
            }
        }
    }
}
.heading {
    text-align: center;
    margin: 5rem 0 4rem;
    &__title {
        margin-bottom: 2rem;
        > span {
            color: $color-asset_two;
            font-weight: 300;
        }
    }
    &__subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        @include media {
            font-size: inherit;
        }
    }
}
.input {
    border: 1px solid $color-secondary;
    border-radius: 99rem;
    padding: 1.5rem 4rem;
    @include media {
        padding: 2rem 4rem;
    }

    &--block {
        width: 100%;
    }
}
.btn {
    font-family: inherit;
    padding: 1.5rem 0;
    border-radius: 99rem;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;
    @include media {
        max-width: 20rem;
        padding: 2rem 0;
        font-size: 1.5rem;
    }
    &--primary {
        background-color: $color-primary;
        color: $color-whitey;
        box-shadow: 0 1px 1px rgba($color-secondary, 0.5),
            0 2px 2px rgba($color-secondary, 0.5),
            0 4px 4px rgba($color-secondary, 0.5),
            0 8px 8px rgba($color-secondary, 0.5);
    }
}
.form {
    padding: 0 2rem;
    margin-bottom: 8rem;
    @include media {
        padding: 0;
        display: flex;
        align-items: flex-start;
    }

    &__email {
        width: 100%;

        .invalid,
        .empty {
            display: none;
        }
        &.invalid .invalid,
        &.empty .empty {
            display: block;
        }

        &.invalid,
        &.empty {
            .form__error {
                display: block;
            }
            .input {
                border-color: $color-accent;
            }
        }
    }

    &__error {
        font-style: italic;
        font-size: 1.2rem;
        margin: -1rem 0 2.5rem;
        color: $color-accent;
        text-align: center;
        transition: all 250ms ease;
        overflow: hidden;
        display: block;
        @include media {
            margin: 1rem 0 0;
        }
    }

    .input {
        margin-bottom: 1.5rem;
        @include media {
            margin: 0;
        }
    }

    .btn {
        @include media {
            margin-left: 1.5rem;
        }
    }

    ::placeholder {
        color: $color-secondary;
        font-size: 1.5rem;

        @include media {
            font-size: 1.6rem;
        }
    }
}

.image {
    margin: 5rem 0 15rem;
    @include media {
        margin: 5rem 0 7rem;
    }
}
.icon {
    cursor: pointer;
    transition: all 400ms linear 50ms;
    @include media {
        font-size: 1.6rem;
    }
    &--primary {
        color: $color-primary;
    }

    &-container {
        border-radius: 50%;
        cursor: pointer;
        display: inline-grid;
        height: 3.6rem;
        place-content: center;
        transition: all 300ms linear 50ms;
        width: 3.6rem;
        @include media {
            width: 3.2rem;
            height: 3.2rem;
        }
        &--primary {
            border: 1px solid $color-secondary;
            background-color: $color-whitey;
            &:hover {
                border-color: $color-primary;
                background-color: $color-primary;
                .icon--primary {
                    color: white;
                }
            }
        }
    }
}

.footer {
    padding: 0 0 4rem;
    &__icons {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
        .icon-container {
            margin: 0 0.8rem;
        }
    }
    .copyright {
        font-size: 1.4rem;
        color: $color-asset_two;
        text-align: center;
    }
}

.container {
    margin: auto;
    width: calc(100% - 8rem);
    max-width: 64rem;
}
