// layout colors
$primary: hsl(238, 29%, 16%);
$secondary: hsl(237, 12%, 33%);
$tertiary: hsl(240, 6%, 50%);
$accent:hsl(14, 88%, 65%);

//faq-content divider color
$divider: hsl(240, 5%, 91%);

//gradient colors
$topGradient: hsl(273, 75%, 66%);
$bottomGradient: hsl(240, 73%, 65%);

//faq background color
$faq-bg: white;